In [14]:
import pandas as pd

importons le jeux de donnée

In [15]:
data= pd.read_csv('C:/Users/HP/Desktop/mon_stage_senegal/data/Etudiants_2001_2024/Liste_globale_des_etudiants_tous_les_champs20102011.csv' , encoding='latin1' ,sep=';')

affichage des noms de colonne

In [16]:
data.columns

Index(['NUMERO', 'NUMERO_TABLE', 'INE', 'NUMERO_IDENTITIFICATION', 'NOM',
       'PRENOM', 'DATE_DE_NAISSANCE', 'LIEU_DE_NAISSANCE',
       'MAIL_INSTITUTIONNEL', 'SEXE', 'MENTION_BACC', 'ANNEE_BACC',
       'PAYS_DE_NAISSANCE', 'NATIONALITE', 'SERIE_BACC', 'REGION_DE_NAISSANCE',
       'ETABLISSMENT_CODE', 'ETABLISSEMENT', 'NIVEAU_SECTION',
       'SIGLE_NIVEAU_SECTION', 'COHORTE', 'ETAT_INSCRIPTION',
       'ANNEE_INSCRIPTION', 'ANNEE_UNIVERSITAIRE', 'TYPE_FORMATION',
       'CODE_NIVEAU', 'NIVEAU', 'DATE_INSCRIPTION', 'NIVEAU LMD',
       'NIVEAU LMD ET NON LMD', 'SYSTEME', 'DEPARTEMENT FORMATION'],
      dtype='object')

afficher les informations du dataframe

In [17]:
#fonction  les  informations du dataframe
def afficher_info(df):
    print("#==============Informations sur le DataFrame================ :")
    print(f"il y'a {df.shape[0]} lignes et {df.shape[1]} colonnes.")

afficher_info(data)

#==============Informations sur le DataFrame================ :
il y'a 67522 lignes et 32 colonnes.

on remarque toujours les meme colonnes avec des nombres de lignes differentes

les personnes avec un systeme lmd inscrit avant 2011

In [ ]:
#======= Anomalie1 : les personnes avec un systeme lmd inscrit avant 2010 =========
def anomalie1(df):
    anomalie1_df = df[(df['ANNEE_INSCRIPTION'] < 2011) & (df['SYSTEME'] == 'LMD')]
    print(f"il y'a {len(anomalie1_df)} personnes avec un systeme lmd inscrit inscrit avant 2011  .")
    
anomalie1(data)

il y'a 0 personnes avec un systeme lmd inscrit inscrit en 2011  .

pour ce fichier on constate que il y'a pas d'anomalie avec le systeme d'inscription

les valeurs manquantes

In [24]:
#=========== Anomalie2 :  les valeurs manquantes dans les colonnes  ==========
def anomalie2(df):
    anomalie2_df = df.isnull().sum()
    anomalie2_df = anomalie2_df[anomalie2_df > 0]
    print(" le nombre de valeur manquante pour chaque colonne   :")
    print(anomalie2_df )
anomalie2(data)

 le nombre de valeur manquante pour chaque colonne   :
NUMERO_TABLE           67522
INE                    40011
LIEU_DE_NAISSANCE         80
MAIL_INSTITUTIONNEL    34117
MENTION_BACC             371
ANNEE_BACC               337
SERIE_BACC              1309
REGION_DE_NAISSANCE     4263
COHORTE                60850
NIVEAU LMD             20179
dtype: int64

meme remarque pour ce jeu de donne aussi le numero de table n'a pas ete renseigne et le nombre de valeur manquante pour la colonne cohorte est aussi eleve

les dates de naissance incoherents avec l'annee de bac comme pour les autres jeu de donnée

In [26]:
#======anomalie3 :  les annéee de naissance pas bon ===============
def anomalie3(data):
    # Convertir la colonne 'DATE_DE_NAISSANCE' en datetime
    data['DATE_DE_NAISSANCE'] = pd.to_datetime(data['DATE_DE_NAISSANCE'], errors='coerce')
    # Extraire l'année de naissance
    data['annee_naissance'] = data['DATE_DE_NAISSANCE'].dt.year
    # Nettoyer et extraire uniquement les années de bac à 4 chiffres
    data['ANNEE_BACC'] = pd.to_numeric(
        data['ANNEE_BACC'].astype(str).str.extract(r'(\d{4})')[0], 
        errors='coerce'
    )
   # Calculer l'âge au bac uniquement pour les lignes valides
    data['age_bac'] = data['ANNEE_BACC'] - data['annee_naissance']
   # Rechercher les personnes ayant passé le bac avant 14 ans
    personnes_bac_avant_14_ans = data[data['age_bac'] < 14]
    personnes_bac_apres_40ans = data[data['age_bac'] > 40]
    personnes_bac_apres_30ans = data[data['age_bac'] > 30]
    print(f"Il y a {personnes_bac_avant_14_ans.shape[0]} personnes qui ont passé le bac avant 14 ans. voici leur année de naissance et l'année de bac : \t")
    print(personnes_bac_avant_14_ans[['DATE_DE_NAISSANCE', 'ANNEE_BACC']])
    print(f"Il y a {personnes_bac_apres_40ans.shape[0]} personnes qui ont passé le bac avant 40 ans. voici leur année de naissance et l'année de bac : \t")
    print(personnes_bac_apres_40ans[['DATE_DE_NAISSANCE', 'ANNEE_BACC']])
    print(f"Il y a {personnes_bac_apres_30ans.shape[0]} personnes qui ont passé le bac avant 30 ans.! pas impossible mais rare")

    
anomalie3(data)

Il y a 35 personnes qui ont passé le bac avant 14 ans. voici leur année de naissance et l'année de bac :
      DATE_DE_NAISSANCE  ANNEE_BACC
1869         2091-10-31      2010.0
5882         1985-01-18      1985.0
7317         1977-02-24      1977.0
7737         1990-03-06      2000.0
9181         1965-11-18      1976.0
10840        1992-03-21      1994.0
14048        1991-11-16      1991.0
15154        1999-10-08      2010.0
15573        1997-01-03      1997.0
17722        1976-12-31      1977.0
18792        1986-03-05      1977.0
19825        1977-04-24      1977.0
21665        1976-07-21      1010.0
23326        1987-08-30      1008.0
30879        1990-03-07      1990.0
31485        1976-03-07      1977.0
32556        1972-05-17      1974.0
33532        1988-09-23      2000.0
38523        1991-01-04      2004.0
39831        1991-07-22      1991.0
42949        1977-02-23      1977.0
47238        1970-01-26      1192.0
50180        1983-11-20      1993.0
50561        1989-03-04      1999.0
51607        1990-08-23      2001.0
52857        1977-06-27      1977.0
57600        1974-09-28      1966.0
58502        1987-08-30      1008.0
61182        1966-04-25      1977.0
62120        1980-08-18      1974.0
62164        1972-07-05      1972.0
63207        1973-02-13      1974.0
63601        1995-01-01      2007.0
64357        1984-03-08      1979.0
65454        1971-12-02      1983.0
Il y a 75 personnes qui ont passé le bac avant 40 ans. voici leur année de naissance et l'année de bac :
      DATE_DE_NAISSANCE  ANNEE_BACC
1959         1958-12-16      2010.0
2158         1960-08-17      2004.0
2652         1991-11-30      2209.0
2674         1993-04-15      2101.0
3085         1952-03-16      1996.0
...                 ...         ...
62665        1960-04-24      2008.0
64106        1979-06-10      2021.0
65142        1990-04-04      5000.0
65994        1966-06-05      2008.0
67232        1988-09-03      5000.0

[75 rows x 2 columns]
Il y a 267 personnes qui ont passé le bac avant 30 ans.! pas impossible mais rare

des personnes qui passent le bac apres 30 ans ou avant 14 ans normales ? 
a revoir !

In [27]:
def anomalie4(data):
    # Compter les doublons exacts (lignes identiques)
    total = data.duplicated().sum()
    
    # Filtrer les étudiants apparaissant plusieurs fois avec le même numéro
    d = data[data.duplicated(subset=['NUMERO'], keep=False)]

    # Compter le nombre d'établissements différents pour chaque étudiant
    totale1 = d.groupby('NUMERO')['ETABLISSMENT_CODE'].nunique()

    # Compter combien d'étudiants ont étudié dans plusieurs établissements
    nb_personnes_2_formations = (totale1 == 2).sum()
    nb_personnes_3_formations = (totale1 == 3).sum()
    nb_personnes_4_formations = (totale1 == 4).sum()
    nb_personnes_plus_4 = (totale1 > 4).sum()

    print(f"Il y a {total} doublons exacts dans le DataFrame.")
    print(f"Il y a {nb_personnes_2_formations} personnes qui ont étudié dans 2 établissements différents la meme année.")
    print(f"Il y a {nb_personnes_3_formations} personnes qui ont étudié dans 3 établissements différents.")
    print(f"Il y a {nb_personnes_4_formations} personnes qui ont étudié dans 4 établissements différents.")
    print(f"Il y a {nb_personnes_plus_4} personnes qui ont étudié dans plus de 4 établissements différents.")
    
    
anomalie4(data)

Il y a 0 doublons exacts dans le DataFrame.
Il y a 597 personnes qui ont étudié dans 2 établissements différents la meme année.
Il y a 2 personnes qui ont étudié dans 3 établissements différents.
Il y a 0 personnes qui ont étudié dans 4 établissements différents.
Il y a 0 personnes qui ont étudié dans plus de 4 établissements différents.

les mentions au bac incorrectes

In [28]:
#========== anomalie5 : les mentions au bac pas normales  ===========
def anomalie5(data):
    #les mentions au bac pas normales
    compteur = 0 
    mentions_normales  = ['AB', 'B', 'TB', 'PA']
    #compter le nombre de mentions anormales
    for i in data['MENTION_BACC']:
        if i not in mentions_normales:
            compteur+=1 
        
    print(f"il y'a {compteur} mentions anormales au bac")
    #afficher les mentions anormales
    mentions_anormales = data[~data['MENTION_BACC'].isin(mentions_normales)]['MENTION_BACC'].unique()
    print("les mentions anormales sont : ", mentions_anormales)
    
anomalie5(data)

il y'a 1170 mentions anormales au bac
les mentions anormales sont :  ['BI' nan 'ru' 'Ab' 'LV' 'HO' '50' 'lo' 'da' '..' 'mb' 'ka' 'pi' '20' 'p'
 'gu' '-' '36' 'po' 'TH' 'AS' ' s' 'di' 'do' 'BA' 'no' 'th' 'ba' 'LS']

ce fichier a plus de mentions au bac incorectes que tous les autres fichiers

les series de bac avant 98

In [29]:
#==========anomalie6 : les series de bac pas valides =======
def anomalie6(data):
    #les series de bac pas valides
    compteur = 0 
    compteur1 = 0
    series_normales_avant_98 = [ "A1", "A2", "A3", "A4",  "C", "D", "E","F1", "F2", "F3", "F4", "F5", "F6", "F7", "G1", "G2", "G3",  "T1", "T2",  "L'", "S'"  ]  
    series_normales_apres_98 = ["L1B", "S1A", "S1", "L1A", "S3", "S4", "T1", "STEG", "SEA", "F6","S5", "S2", "STIDD", "LA", "T2", "L-AR", "L2", "L'1"]         
     #convertir la colonne 'ANNEE_BACC' en entier
    data['ANNEE_BACC'] = pd.to_numeric(data['ANNEE_BACC'], errors='coerce')
    #compter le nombre de series anormales
    for _, i in data.iterrows():
        if i['SERIE_BACC'] not in series_normales_avant_98 and i['ANNEE_BACC'] < 1998:
            compteur+=1 
        if i['SERIE_BACC'] not in series_normales_apres_98 and i['ANNEE_BACC'] >= 1998:
            compteur1+=1    
        
    print(f"il y'a {compteur} qui ont passe leur bac avant  1998 qui une serie de bac pas normale")
    #afficher les series anormales
    series_anormales = data[~data['SERIE_BACC'].isin(series_normales_avant_98) & (data['ANNEE_BACC'] < 1998)]['SERIE_BACC'].unique()
    print("ces series sont : ", series_anormales)
    print(f"il y'a {compteur1} qui ont passe leur bac apres  1998 qui une serie de bac pas normale")
    #afficher les series anormales
    series_anormales1 = data[~data['SERIE_BACC'].isin(series_normales_apres_98) & (data['ANNEE_BACC'] >= 1998)]['SERIE_BACC'].unique()
    print("ces series sont : ", series_anormales1)
    
     
anomalie6(data)

il y'a 633 qui ont passe leur bac avant  1998 qui une serie de bac pas normale
ces series sont :  [nan 'A' 'B' 'S2' "L'1" 'ES' 'S' 'a3' 'L2' 'G' 'SB' 'S5' 'S1']
il y'a 6459 qui ont passe leur bac apres  1998 qui une serie de bac pas normale
ces series sont :  ['D' 'G' nan 'S' 'A4' 'C' 'A' 'SNB' "L'" 'B' 'BT' 'A2' 'a3' 'G2' 'A3' 'SM'
 'SB' 'E' 'ES' 'F7' 'SNA' 'LAR']

on constate que pour cette année il y'a plus de mentions au bac incorrectes

In [30]:
#================= afficher toutes les anomalies ===================
def afficher_tous_les_anomalies(data):
        afficher_info(data)
        anomalie1(data)
        anomalie2(data)
        anomalie3(data)
        anomalie4(data)
        anomalie5(data)
        anomalie6(data)
        

afficher_tous_les_anomalies(data)

#==============Informations sur le DataFrame================ :
il y'a 67522 lignes et 34 colonnes.
il y'a 0 personnes avec un systeme lmd inscrit inscrit en 2011  .
 le nombre de valeur manquante pour chaque colonne   :
NUMERO_TABLE           67522
INE                    40011
DATE_DE_NAISSANCE          1
LIEU_DE_NAISSANCE         80
MAIL_INSTITUTIONNEL    34117
MENTION_BACC             371
ANNEE_BACC               412
SERIE_BACC              1309
REGION_DE_NAISSANCE     4263
COHORTE                60850
NIVEAU LMD             20179
annee_naissance            1
age_bac                  413
dtype: int64
Il y a 35 personnes qui ont passé le bac avant 14 ans. voici leur année de naissance et l'année de bac :
      DATE_DE_NAISSANCE  ANNEE_BACC
1869         2091-10-31      2010.0
5882         1985-01-18      1985.0
7317         1977-02-24      1977.0
7737         1990-03-06      2000.0
9181         1965-11-18      1976.0
10840        1992-03-21      1994.0
14048        1991-11-16      1991.0
15154        1999-10-08      2010.0
15573        1997-01-03      1997.0
17722        1976-12-31      1977.0
18792        1986-03-05      1977.0
19825        1977-04-24      1977.0
21665        1976-07-21      1010.0
23326        1987-08-30      1008.0
30879        1990-03-07      1990.0
31485        1976-03-07      1977.0
32556        1972-05-17      1974.0
33532        1988-09-23      2000.0
38523        1991-01-04      2004.0
39831        1991-07-22      1991.0
42949        1977-02-23      1977.0
47238        1970-01-26      1192.0
50180        1983-11-20      1993.0
50561        1989-03-04      1999.0
51607        1990-08-23      2001.0
52857        1977-06-27      1977.0
57600        1974-09-28      1966.0
58502        1987-08-30      1008.0
61182        1966-04-25      1977.0
62120        1980-08-18      1974.0
62164        1972-07-05      1972.0
63207        1973-02-13      1974.0
63601        1995-01-01      2007.0
64357        1984-03-08      1979.0
65454        1971-12-02      1983.0
Il y a 75 personnes qui ont passé le bac avant 40 ans. voici leur année de naissance et l'année de bac :
      DATE_DE_NAISSANCE  ANNEE_BACC
1959         1958-12-16      2010.0
2158         1960-08-17      2004.0
2652         1991-11-30      2209.0
2674         1993-04-15      2101.0
3085         1952-03-16      1996.0
...                 ...         ...
62665        1960-04-24      2008.0
64106        1979-06-10      2021.0
65142        1990-04-04      5000.0
65994        1966-06-05      2008.0
67232        1988-09-03      5000.0

[75 rows x 2 columns]
Il y a 267 personnes qui ont passé le bac avant 30 ans.! pas impossible mais rare
Il y a 0 doublons exacts dans le DataFrame.
Il y a 597 personnes qui ont étudié dans 2 établissements différents la meme année.
Il y a 2 personnes qui ont étudié dans 3 établissements différents.
Il y a 0 personnes qui ont étudié dans 4 établissements différents.
Il y a 0 personnes qui ont étudié dans plus de 4 établissements différents.
il y'a 1170 mentions anormales au bac
les mentions anormales sont :  ['BI' nan 'ru' 'Ab' 'LV' 'HO' '50' 'lo' 'da' '..' 'mb' 'ka' 'pi' '20' 'p'
 'gu' '-' '36' 'po' 'TH' 'AS' ' s' 'di' 'do' 'BA' 'no' 'th' 'ba' 'LS']
il y'a 633 qui ont passe leur bac avant  1998 qui une serie de bac pas normale
ces series sont :  [nan 'A' 'B' 'S2' "L'1" 'ES' 'S' 'a3' 'L2' 'G' 'SB' 'S5' 'S1']
il y'a 6459 qui ont passe leur bac apres  1998 qui une serie de bac pas normale
ces series sont :  ['D' 'G' nan 'S' 'A4' 'C' 'A' 'SNB' "L'" 'B' 'BT' 'A2' 'a3' 'G2' 'A3' 'SM'
 'SB' 'E' 'ES' 'F7' 'SNA' 'LAR']